* {

    
}

.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 95px 50px;
    margin-bottom: 0px;
}

.header__menu {
    grid-column: 1;
    display: flex;
    position: relative;
}

.header__links-list {
    display: flex;
    flex-direction: row;
    gap: 31px;
}

.header__links-list-item {
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__links-list-item-about {
    padding-left: 5px;
}

.header_link {
    text-decoration: underline;
    font-size: 18px;
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;
}

.header__link_active {
    text-decoration: none;
}

.header__logo {
    grid-column: 2;
    justify-self: center;
    width: 137px;
}

.header__logo-image {
    display: block;
}

.adress {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-style: normal;
    font-size: 18px;
    line-height: 25px;
}

.adress a {
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
}

.header .adress {
    grid-column: 3;
    justify-self: end;
    position: relative;
    width: 240px;
}

.cover {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    min-height: 757px;
    background-image: url("../images/cover.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 165px 50px 50px 50px;
}

.overlay {
    position: absolute;
    width: 100%;
    min-height: 100%;
    inset: 0px;
    background-color: rgb(0,0,0,0.6);
    z-index: 0;
}

.cover__heading,
.cover__description,
.cover__button {
    position: relative;
    color: white;
    text-transform: uppercase;
    z-index: 1;
}


.cover__heading {
    width: 100%;
    font-size: 100px;
    display: block;
}

.cover__title-text {
    display: block;
    letter-spacing: 30px;
}

.aligned-text-left {
    text-align: start;
}

.aligned-text-center {
    text-align: center;
    margin-top: 17px;
    margin-left: 30px;
}

.aligned-text-right {
    text-align: end;
    margin-top: 17px;
    margin-right: -0.3em;   
}

.cover__description {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    font-size: 22px;
}

.cover__description-title {
    word-spacing: 18.5px;
    text-transform: uppercase;
}

.cover__description-button {
    text-transform: uppercase;
    background: transparent;
    color: white;
    border: 1px white solid;
    padding: 12px 32px;
}

.lots {
    display: flex;
    flex-direction: column;
    margin: 180px 24px 120px 24px;
}

.lots__heading {
    text-transform: uppercase;
    text-align: start;
    color: black;
    font-size: 40px;
    margin-left: 40px;
}

.lots__card-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    flex-direction: row;
    margin-top: 27px;
    margin-bottom: 30px;
}

.lots__card-list-item {
    width: 334px;
    min-height: 596px;
}

.card__link,
.card {
    height: 100%;
}

.card__link {
    text-decoration: none;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 48px 40px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card__type_film {
    background-image: url("../images/card-lot-01.jpg") ;
}

.card__type_book {
    background-image: url("../images/card-lot-02.jpg");
}

.card__type_picture {
    background-image: url("../images/card-lot-03.jpg");
}

.card__title,
.card__text {
    color: white;
    position: relative;
}

.card__title {
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
}

.card__text {
    font-size: 20px;
}

.lots__look-more-link {
    font-size: 20px;
    margin-left: 40px;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.about {
    display: grid;
    grid-template-columns: 334px auto;
    margin: 0px 24px 180px 24px;
    gap: 25px;
}

.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    position: relative;
    margin-top: 34px;
    z-index: 0;
    width: 240px;
    height: 240px;
    background-color: black;
    border-radius: 50%;
}

.about__logo-image {
    width: 148px;
    height: 114px;
    background-image: url("../images/logo-white.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

.about__column-aligned {
    align-self: end;
    display: flex;
    flex-direction: column;
    margin-top: 135px;
}

.about__title {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 100px;
}

.about__text {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-right: 5px;
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin-bottom: 80px;
}

.footer .adress {
    position: relative;
    width: 265px;
}

.footer__menu {
    align-self: start;
}

.footer__menu-list {
    list-style: none;
    line-height: 22px;
}

.footer__menu-list-item {
    text-align: center;
    font-size: 18px;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__menu-link {
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
}

.footer__social-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 48px;
    margin-left: 27px;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}
