.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 100px 50px;
}

.header__menu {
    grid-column: 1;
    display: flex;
    position: relative;
    bottom: 2px;
}

.header__links-list {
    display: flex;
    flex-direction: row;
    gap: 33px;
}

.header__links-list-item {
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header_link {
    text-decoration: underline;
    font-size: 18px;
    text-underline-offset: 5px;
    text-decoration-thickness: 1px;
}

.header__link_active {
    text-decoration: none;
}

.header__logo {
    grid-column: 2;
    justify-self: center;
    width: 135px;
}

.header__logo-image {
    display: block;
}

.header__adress {
    grid-column: 3;
    justify-self: end;
    display: flex;
    flex-direction: column;
    align-items: start;
    font-style: normal;
    font-size: 18px;
    position: relative;
    right: 35px;
    line-height: 25px;
}

.header__adress a {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 1px;
}

.cover {
    height: 757px;
}